h1 {
  color:blue;
  font-family: helvetica;
}

h2 {
  color: #black
  font-family: helvetica;
}

p {
  color:black;
  font-family: helvetica;
}

ul{
  font-family: helvetica;
  list-style-type: none;
}

ul li{
  display: inline;
  padding: 10px;
  margin: 0px;
}
